/* RESET Y BASE */
* {
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        /* url para produccion */
        /* url("/assets/img/bg-1.jpg"); */
        /* url para local */
        url("../img/bg-1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: aliceblue;
}