/* =========================
   VARIABLES (ESTILO MOTO)
========================= */
:root {
    --bgc-buttons: #ff3c00;
    --bgc-cards :#1f1f1f ;
    --bg-secondary: #1a1a1a;
    --accent: #e10600;
    --accent-hover: #ff2a2a;
    --text-main: #ffffff;
    --text-muted: #aaaaaa;
    --border: #2a2a2a;
}

/* =========================
   RESET Y BASE
========================= */
* {
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

/* =========================
   BODY
========================= */

body {
    background-image: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),

        /* url para produccion */
        url("/assets/img/bg-1.jpg");

        /* url para local */
        /* url("../img/bg-1.jpg"); */
        
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: aliceblue;
}