body{
    background-color: #111827 !important;
}
/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #111827;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    z-index: 10;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 5px 0;
}

.sidebar a {
    display: flex;
    align-items: center;
    color: #d1d5db;
    text-decoration: none;
    padding: 12px 20px;
    transition: 0.2s;
}

/* Hover */
.sidebar a:hover {
    background-color: #1f2937;
    color: #fff;
}

/* Active */
.sidebar a.active {
    background-color: #1f2937;
    color: #fff;
    border-left: 4px solid #3b82f6;
}

/* Icono */
.icon {
    margin-right: 10px;
}

/* MAIN al lado del sidebar */
#main_control {
    margin-left: 250px;
    padding: 20px;
    min-height: 90dvh;
}

/* Título */
.h_controlPanel {
    margin-top: 100px;
}

main {
        text-align: center;
    }

    .h_controlPanel {
        margin-bottom: 40px;
        color: #ece9e9;
    }

    .submenu ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .submenu a {
        display: inline-block;
        padding: 18px 28px;
        background: #007bff;
        color: white;
        text-decoration: none;
        font-size: 16px;
        border-radius: 10px;
        transition: all 0.3s ease;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        min-width: 220px;
    }

    .submenu a:hover {
        background: #0056b3;
        transform: translateY(-3px);
        box-shadow: 0 8px 18px rgba(0,0,0,0.15);
    }

    /* Responsive (móvil) */
    @media (max-width: 768px) {
        .submenu ul {
            flex-direction: column;
        }
    }